header{
    position: absolute;
    width: 100%;
    height: 10.70%;
    background: rgba(21, 19, 19, 0.89);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    color: white;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}
.nav-element{
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.nav-element:hover{
    color: #ff00b7;
}
main{
    position: absolute;
    background: linear-gradient(109.46deg, #000000 -14.29%, #0029FF 30.15%, #7831B0 66.18%, #B0318D 98.61%);
    top: 10.70%;
    width: 100%;
    height: 90%;
}
.download{
    position: absolute;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 85px;
    color: white;
    top: 20%;
    left: 10%;
}
.os-icons {
    position: absolute;
    left: 7.5%;
    top: 70%;
    width: 84.77%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    float: none;
}
.icon{
    width: 11.72%;
}
footer{
    position: absolute;
    width: 100%;
    height: 5%;
    top: 100%;
    bottom: 0%;
    background: #2F2D2D;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.copyright{
    position: absolute;
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: white;
}
@media (max-width: 390px){
    header{
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 5%;
        top: 0%;
        background: #2F2D2D;
    }
    main{
        top: 5%;
    }
    .logo{
        font-family: 'Futura';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
    }
    .nav-element{
        font-family: 'Futura';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;        
        color: white;
    }
    .nav-element:hover{
        color: #FF00B8;
    }
    .download{
        font-family: 'Futura';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        width: 55.70%;
        height: 20.43%;
        color: #FFFFFF;
    }
    .os-icons{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        float: none;
        width: 13.59%;
        height: 40%;
        top: 50%;
        left: 45%;
    }
    .icon{
        width: 48%;
        display: flex;
        align-items: center;
    }
    footer{
        width: 100%;
        left: 0%;
        top: 90%;
        background: #2F2D2D;
        display: flex;
        justify-content: space-around;
        align-items: center;
        float: none;
    }
    .copyright{
        position: absolute;
        font-family: 'Futura';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        
        color: #FFFFFF;
    }
}